p.thirdp {
	color:  yellow;
}

* {
	font-family: Verdana, sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 3rem;
}

#h2uppercase {
	text-transform: uppercase;
}

.langtobelearned {
	background-color: #aed19d;
}

.toolstobeused {
	border-width: 2px;
	border-style: solid;
	border-color: #6db8f0;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

ul ~ p {
	text-align:  center;
}

ul > li {
	letter-spacing: 10px;
}

